<!DOCTYPE html>
<html>
	<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>

	<body>
		<h1>Welcome to RMBRSR, <%= @user.email %></h1>
		<p>
			You have successfully created an account at RMBRSR! 
			your user login is <%= @user.email %>. <br>
			</p>
			<p>
			To start saving money, click this link! <%= @url %>
			</p>
		<p> Thanks for joining! </p>
		</body>
		</html>


