<h1>About Us</h1>
<p> So this is Reimbursr's story.</p>

<ul class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#about">About</a></li>
  <li><a data-toggle="tab" href="#team">Team</a></li>
  <li><a data-toggle="tab" href="#technologies">Technologies</a></li>
</ul>

<div class="tab-content">
  <div id="about" class="tab-pane fade in active">
    <h3>About</h3>
    <div class="container">
    <p>Do you have a credit card? Have you seen something that you just recently bought at the store two weeks later for $200 less? RMBRSR lets you wind back the clock and get your sales when you want them. Set the timer and contact your credit card company for a refund!</p>
    </div>
  </div>
  <div id="team" class="tab-pane fade">
    <h3>Team</h3>
    <p>Some content in team.</p>
  </div>
  <div id="technologies" class="tab-pane fade">
    <h3>Technologies</h3>
    <p>Here is a list of some the technologies used on this app:</p>
    <ul>
	  <li>APIs: Amazon API</li>
	  <li>Languages: Ruby, Javascript, HTML, CSS</li>
	  <li>Frameworks: Ruby on Rails</li>
	  <li>Databases: PostgreSQL</li>
	  <li>Technologies: AJAX, Bootstrap, Github/Git, jQuery, Heroku, OOP, Bcrypt</li>
	</ul>
  </div>
</div>
