<h1>Reimbursr</h1>
<p> Splish Splash. Welcome to Reimbursr.</p>



<img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/MattLesko.jpg">
<div>
<button class = "btn btn-default"><a href="/users/sign_up">Sign Up</a></button>
<button class = "btn btn-default"><a href="/users/sign_in"> Log In </a></button>
</div>
