/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	text-align: center;
	background-color: #E8E8E8;
}
.container {
	position:relative;
	border-width: 5px;
	border-style: solid;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	margin-top: -20px;
	margin-left: -20px;
	margin-right: -20px;
}
.container video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	border-width: 5px;
	border-style: solid;
    position:relative;
    z-index:0;
}
.overlay {
	color: white;
	text-align: center;
    position: absolute;
    top: 0px;
    left: 100px;
    z-index:1;
}
.showresults {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start; 
	align-content: flex-start; 
	}
.thumbnail{
	align-self: auto;
	width: 200px;
  	height: 400px;

}
.imagethumb{
	max-height: 160px;
	max-width: auto;
	
}


.modal-body{
	text-align:left;
}

.faq-holder{
	margin-top: 50px;
}

.searchtransbut{
	margin-bottom: 0px;
	vertical-align: bottom;
}
.showresults{
	margin-top: 34px;
}
