/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	text-align: center;
	background-color: #E8E8E8;
}

#splash {
height: 1000px;
background-image: url("https://images.unsplash.com/photo-1430165558479-de3cf8cf1478?ixlib=rb-0.3.5&q=80&fm=jpg&s=7e688c2ab960cee80de2fe8eb69443a5"); 
background-repeat: no-repeat;
background-size: cover;
}
.showresults {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start; 
	align-content: flex-start; 
	}
.thumbnail{
	align-self: auto;
	width: 200px;
  	height: 400px;

}
.imagethumb{
	max-height: 160px;
	max-width: auto;
}


.modal-body{
	text-align:left;
}

