<h2>Search</h2>
<br>


<form id = "searchstuff" action = "submit">

			<input type="text" name="search" id="searchInput">

			<button type="submit" class="btn btn-primary">Search</button>
</form>


<div class = "showresults">


</div>
